<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rolar o Dado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Role o Dado!</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container">
    <ion-grid>    
      
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-item>
            <ion-label #valor value='Ola' color="primary" style="text-align: center;">Você rolou o número {{valor.value}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      
        <ion-row class="ion-align-items-center">  
          <ion-col size="12">  
            <img [src]="image">
          </ion-col>
        </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <ion-button (click)="clicked(valor)" color="secondary" expand="block">Rolar!</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>


  </div>
</ion-content>
